<!DOCTYPE html>
<html lang="FR">

<head>
  <meta charset="utf-8">
  <title>SyllaExchange</title>
  <link rel="stylesheet" href="style.css">
  <link rel="shortcut icon" href="images/logo.icon">

  <header>
    <a href="/">
      <img class="logo" src="images/logo.png" alt="SyllaExchange-Logo">
    </a>

    <h1 class="title"><a href="/" id="title_link">SyllaExchange</a></h1>

    <input type="button" value=<%=user %> id="connexion" onclick="location.href='/login';">

  </header>
</head>

<body>
  <hr>
  <div id="basketPageLayout">
    <div class="catalogueV" id="basketItem">
      <img class="arrow" src="/private/images/FlêcheG.png" alt="">

      <% articleList.forEach(function(article){ %>
        <form action="/removeFromBasket" method="post">
          <input type="hidden" name="artID" value=<%=article.id %>>
          <div class="itemsV">
            <p class="Book_name">
              <%= article.title %>
            </p>
            <img src=<%=article.image %> alt="Syllabus-image" class="booksV">
            <div class="info">
              <h2>
                <%= article.price %> €
              </h2>
              <h2>
                <%= article.desc %>
              </h2>
              <h2> vendu par <%= article.seller %>
              </h2>

              <button type="submit" value="searching">🗑</button>

            </div>
        </form>
    </div>
    <% }) %>
  </div>

  <div id="summary">
    <form action="/acheter" method="post">
      <div class="line">
        <label for="">Credit: </label>
        <input type="text" name="money" value="<%= money %>" readonly />
      </div>
      <div class="line">
        <label>Prix total: </label>
        <input type="text" name="price" value="<%= totalPrice %>" readonly />
      </div>
      <div class="line">
        <label>
          <%=message%>
        </label>
      </div>
      <br>
      <br>
      <button type="submit" class="btn btn-success" name="btn" value="register">Acheter</button>
    </form>
  </div>

  </div>
</body>

</html>