<head>
  <meta charset="utf-8">
  <title>SyllaExchange</title>
  <link rel="stylesheet" href="style.css">
  <link rel="shortcut icon" href="images/logo.icon">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <header>
    <a href="/">
      <img class="logo" src="images/logo.png" alt="SyllaExchange-Logo">
    </a>

    <h1 class="title"><a href="/" id="title_link">SyllaExchange</a></h1>

    <input type="button" value=<%=user %> id="connexion" onclick="location.href='/login';">

  </header>
</head>

<body>
  <hr>

  <h2 class="Name"> <%= title %> </h2>
  <div class="selling">
    <img class="imagedulivre" src=<%= image %> alt="Syllabus-image">
    <div class="txt">
      <input class="btnAchter" type="button" value="Acheter pour <%= price %> €">
      <p class="resume"> <%= desc %> <hr width="100%" color="black"></p>
      <h4 class="SELLER">Seller: </h4> <p> <%= seller %> </p>
    </div>
  </div>

  <div class="Star">
    <% for(let i=0; i < rate; i++){ %>
    
      <span class="fa fa-star checked"></span>

    <% } %>

    <% for (let j=0; j < 5 - rate; j++) { %>

      <span class="fa fa-star"></span>

    <% } %>

  </div>

</body>