<!DOCTYPE html>
<html lang="FR">

<head>
  <meta charset="utf-8">
  <title>SyllaExchange</title>
  <link rel="stylesheet" href="style.css">
  <link rel="shortcut icon" href="images/logo.icon">

  <header>
    <a href="/">
      <img class="logo" src="images/logo.png" alt="SyllaExchange-Logo">
    </a>

    <h1 class="title"><a href="/" id="title_link">SyllaExchange</a></h1>

    <input type="button" value=🛒 id="basketLogo" onclick="location.href='/basket';">
    <input type="button" value=<%=user %> id="connexion" onclick="location.href='/login';">

  </header>
</head>

<body>
  <hr>

  <main class="main">
    <a id="sell-link" href="/sell">Sell a syllabus</a>


    <form action="/" method="get" class="search">
      <input id="input_search" type="text" placeholder="Search" name="looking_for" required>
      <button id="button_search" type="submit" name="btn_search" value="searching">🔎</button>
    </form>

    <br>
    <br>

    <select class="order" name="order" id="sortMode" onchange="location.href='/?tri='+this.value">
      <option value="" selected="selected" hidden="hidden">Order By</option>
      <option value="name">Name</option>
      <option value="price">Price</option>
      <option value="date">Date</option>
    </select>

    <% if(viewPref) { %>
      <!-- horizontal view -->
      <div class="vertical-wrapper">
        <section class="vertical-articles-container">
          <% articleList.forEach(function(article){ %>
            <article class="book">
              <img src=<%= article.image %> alt="Syllabus-image">
              <strong><u><h1 class="vertical-book-price"><%= article.title %></h1 ></u></strong>
              <h2 class="vertical-book-price"><%= article.price %>€</h2>
              <button onclick="location.href='/buy?artID=<%= article.id %>';">Buy</button>
            </article>
          <% }) %>
        </section>
      </div>
    <% } else { %>
      <!-- vertical view -->
      <div class="articles-container">
        <table cellspacing="10" class="wrapper">
          <% articleList.forEach(function(article){ %>
            <tr class="case">
              <td class="image-cell">
                <div class="image-container">
                  <img class="art-image" src=<%= article.image %> alt="article image">
                </div>
              </td>
              <td class="title-cell">
                <strong><u><h1 class="art-title"><%= article.title %></h1 ></u></strong>
              </td>
              <td class="art-elem">
                <h2 class="art-price"><%= article.price %>€</h2>
              </td>
              <td class="art-elem">
                <div class="art-btn">
                  <button class="art-buy" onclick="location.href='/buy?artID=<%= article.id %>';">BUY</button>
                </div>
              </td>
            </tr>
          <% }) %> 
        </table>
      </div>
    <% } %>
  </div>
</main>
      
</body>

</html>